.piano {
  position: relative;
  display: flex;

  &__keys {
    display: flex;

    &--white-container {
      position: relative;
      height: 120px;
      width: 30px;
      margin: 0 1px;
    }

    &--white-key {
      background-color: $white;
      color: $black;
      border-radius: 0 0 5px 5px;
      font-size: 1.1rem;
      width: 100%;
      height: 100%;
      cursor: pointer;

      &:hover {
        background-color: $grey;
      }

      &.selected {
        background-color: $light-gray;

        &:hover {
          background-color: $blue-gray;
        }
      }
    }

    &--black-container {
      position: absolute;
      top: 0;
      left: 20px;
      width: 20px;
      height: 70px;
    }

    &--black-key {
      position: relative;
      background-color: $black;
      color: $white;
      width: 100%;
      height: 50%;
      cursor: pointer;

      &:not(:first-child) {
        border-radius: 0 0 5px 5px;
      }

      &:hover {
        background-color: $dark-gray;
      }

      &.selected {
        background-color: $blue;

        &:hover {
          background-color: $dark-blue;
        }
      }
    }
  }

  &__buttons {
    min-width: 185px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  .note {
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%;
  }
}
