.piano-container {
  display: flex;
}

.piano-buttons {
  margin-left: 10px;
}

.piano-buttons button {
  width: 190px;
}

.piano-buttons div:not(:first-child) {
  margin-top: 5px;
}

.piano {
  position: relative;
  cursor: pointer;
}

.piano .black-keys {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  z-index: 2;
  pointer-events: none;
}

.piano .white-keys {
  display: flex;
}

.piano .white-keys .white-key {
  position: relative;
  background-color: white;
  color: black;
  height: 118px;
  width: 25px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1;
  overflow: visible;
  font-size: 1.1rem;
}

.piano .white-keys .white-key:not(:first-child) {
  margin-left: 2px;
}

.piano .black-keys .black-key {
  position: relative;
  width: 20px;
  height: 80px;
  background-color: black;
  color: white;
  z-index: 2;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 0.85rem;
  pointer-events: auto;
}

.piano .black-keys .black-key .sharp {
  height: 40px;
  position: relative;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.piano .black-keys .black-key .flat {
  position: relative;
  height: 40px;
}

.piano .black-keys .black-key.c {
  margin-left: 16px;
}

.piano .black-keys .black-key.d,
.piano .black-keys .black-key.g,
.piano .black-keys .black-key.a {
  margin-left: 7px;
}

.piano .black-keys .black-key.f {
  margin-left: 34px;
}

.piano .black-keys .black-key .note,
.piano .white-keys .white-key .note {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.piano .white-keys .white-key:hover {
  background-color: #cfcfcf;
}

.piano .white-keys .white-key.selected {
  background-color: #979ec5;
}

.piano .white-keys .white-key.selected:hover {
  background-color: #68709c;
}

.piano .black-keys .black-key .sharp:hover,
.piano .black-keys .black-key .flat:hover {
  background-color: #373946;
}

.piano .black-keys .black-key .sharp.selected,
.piano .black-keys .black-key .flat.selected {
  background-color: #30409c;
}

.piano .black-keys .black-key .sharp.selected:hover,
.piano .black-keys .black-key .flat.selected:hover {
  background-color: #414c8c;
}
